# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Testing
coverage/

# Temporary files
*.tmp
*.temp

# Backend specific
Backend/local-ecommerce-bn/dist/
Backend/local-ecommerce-bn/node_modules/
Backend/local-ecommerce-bn/.env

# Frontend specific
Frontend/dist/
Frontend/node_modules/
Frontend/.env
